{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Rentify
      {% endblock %}
    </title>
    <!-- Corrected the Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/items.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Rentify</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item {% if request.path == '/user-profile/' %}active{% endif %}">
            <a class="nav-link" href="{% url 'user_profile:user_profile' %}">Profile</a>
          </li>
          <li class="nav-item {% if request.path == '/items-list/' %}active{% endif %}">
            <a class="nav-link" href="{% url 'items:items-list' %}">Home</a>
          </li>
          <li class="nav-item {% if request.path == '/about/' %}active{% endif %}">
            <a class="nav-link" href="{% url 'about:about' %}">About</a>
          </li>
          <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}">
            <a class="nav-link" href="{% url 'contact:contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link login" href="{% url 'accounts:login' %}">Login</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- Corrected the JS dependencies for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>